
.container3 {
    border-radius: 13px;
    width: 80%;
    height: 110%;

    display: flex;
    justify-content: space-between;
    background: conic-gradient(from 90deg, rgb(107, 107, 107), rgb(51, 51, 51), rgb(0, 0, 0), rgb(51, 51, 51), rgb(107, 107, 107));
    align-items: center;
    padding: 5vh 5vw;
    border: 1px solid black;
    box-shadow: 10px 10px 22px 10px black;
    margin: 8vh auto;
}
.container3 h2 {
    text-align: center;
    font-size: 2rem; 
    margin-bottom: 2vh;
    color: white;
}

.images {
    display: flex;
    justify-content: center;
    gap: 2vw; 
    margin-bottom: 5vh;
    flex-wrap: wrap;
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

#one, #two, #three {
    width: 100%;
    max-width: 180px;
    height: auto;
    flex-grow: 1;
}

.img_container img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img_container img:hover {
    transform: scale(1.05);
}

.container3 p {
    font-style: italic;
    font-size: 1.2rem; 
    color: white;
}

.containers {
    display: flex;
    gap: 20px;
}

.card {
    width: 10vw;
    height: 50vh;
    perspective: 1000px;
}

.card-inner {
    
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
#dev {
    width: 100%; 
    max-width: 150px;
    height: auto;
}


.card p{
    color: black;
    font-size: 1rem;
 }
.card-front {
    background-color: #fff;
    z-index: 1;
}

.card-back {
    background-color: #eee;
    transform: rotateY(180deg); 
}